{% extends "base.html" %}

{% block head %}
  <title>器材</title>
<script type="text/javascript" src="/static/js/jquery.js"></script>
{% end %}

{% block body %}



            <div class="text-content graphic_shape_layout_style_default_External_620_41" style="padding: 0px; ">
              <div class="graphic_shape_layout_style_default">
                <p style="padding-bottom: 0pt; padding-top: 0pt; font-family: 'STHeitiSC-Medium', 'Heiti SC'; font-size: 28px; font-stretch: normal; font-style: normal; font-weight: 700; line-height: 26px;" class="Title">修改器材</p>
              </div>
            </div>
<form action="/equipment/edit" method="POST">
           {{ xsrf_form_html() }}
<table>
<tbody>
<input type="hidden" value={% if item %}{{ item.id }}{% else %}  {% end %}></input>
<tr><td>名称</td><td><input type="text" name="item_name" value={% if item %}{{ item.item_name }}{% else %}  {% end %}></input></td></tr>
<tr><td>品牌</td><td><input type="text" name="item_brand" value={% if item %}{{ item.item_brand }}{% else %}  {% end %}></input></td></tr>
<tr><td>类型</td><td><input type="text" name="item_type" value={% if item %}{{ item.item_type }}{% else %}  {% end %}></input></td></tr>
<tr><td>图片</td><td><input type="text" name="item_image" value={% if item %}{{ item.item_image }}{% else %}  {% end %}></input></td></tr>

<tr><td>用户自选功能</td><td><input type="text" name="attr_494" value={% if item %}{{ item.attr_494 }}{% else %}  {% end %}></input></td></tr>
<tr><td>产品类型</td><td><input type="text" name="attr_496" value={% if item %}{{ item.attr_496 }}{% else %}  {% end %}></input></td></tr>
<tr><td>材质</td><td><input type="text" name="attr_490" value={% if item %}{{ item.attr_490 }}{% else %}  {% end %}></input></td></tr>
<tr><td>视频接口</td><td><input type="text" name="attr_491" value={% if item %}{{ item.attr_491 }}{% else %}  {% end %}></input></td></tr>
<tr><td>备注</td><td><input type="text" name="attr_492" value={% if item %}{{ item.attr_492 }}{% else %}  {% end %}></input></td></tr>
<tr><td>光圈叶片</td><td><input type="text" name="attr_24" value={% if item %}{{ item.attr_24 }}{% else %}  {% end %}></input></td></tr>
<tr><td>最大放大倍率</td><td><input type="text" name="attr_25" value={% if item %}{{ item.attr_25 }}{% else %}  {% end %}></input></td></tr>
<tr><td>驱动马达</td><td><input type="text" name="attr_26" value={% if item %}{{ item.attr_26 }}{% else %}  {% end %}></input></td></tr>
<tr><td>滤镜口径</td><td><input type="text" name="attr_27" value={% if item %}{{ item.attr_27 }}{% else %}  {% end %}></input></td></tr>
<tr><td>视角</td><td><input type="text" name="attr_21" value={% if item %}{{ item.attr_21 }}{% else %}  {% end %}></input></td></tr>
<tr><td>测光模式</td><td><input type="text" name="attr_289" value={% if item %}{{ item.attr_289 }}{% else %}  {% end %}></input></td></tr>
<tr><td>ISO感光度</td><td><input type="text" name="attr_288" value={% if item %}{{ item.attr_288 }}{% else %}  {% end %}></input></td></tr>
<tr><td>自动对焦点选择</td><td><input type="text" name="attr_405" value={% if item %}{{ item.attr_405 }}{% else %}  {% end %}></input></td></tr>
<tr><td>屈光度调节范围</td><td><input type="text" name="attr_404" value={% if item %}{{ item.attr_404 }}{% else %}  {% end %}></input></td></tr>
<tr><td>对焦屏</td><td><input type="text" name="attr_340" value={% if item %}{{ item.attr_340 }}{% else %}  {% end %}></input></td></tr>
<tr><td>色彩滤镜</td><td><input type="text" name="attr_402" value={% if item %}{{ item.attr_402 }}{% else %}  {% end %}></input></td></tr>
<tr><td>反光镜</td><td><input type="text" name="attr_342" value={% if item %}{{ item.attr_342 }}{% else %}  {% end %}></input></td></tr>
<tr><td>景深预视</td><td><input type="text" name="attr_343" value={% if item %}{{ item.attr_343 }}{% else %}  {% end %}></input></td></tr>
<tr><td>视野率</td><td><input type="text" name="attr_281" value={% if item %}{{ item.attr_281 }}{% else %}  {% end %}></input></td></tr>
<tr><td>支持语言</td><td><input type="text" name="attr_283" value={% if item %}{{ item.attr_283 }}{% else %}  {% end %}></input></td></tr>
<tr><td>对焦模式</td><td><input type="text" name="attr_285" value={% if item %}{{ item.attr_285 }}{% else %}  {% end %}></input></td></tr>
<tr><td>手动对焦</td><td><input type="text" name="attr_287" value={% if item %}{{ item.attr_287 }}{% else %}  {% end %}></input></td></tr>
<tr><td>AF辅助灯</td><td><input type="text" name="attr_286" value={% if item %}{{ item.attr_286 }}{% else %}  {% end %}></input></td></tr>
<tr><td>取景器信息</td><td><input type="text" name="attr_522" value={% if item %}{{ item.attr_522 }}{% else %}  {% end %}></input></td></tr>
<tr><td>Live View 对焦模式</td><td><input type="text" name="attr_414" value={% if item %}{{ item.attr_414 }}{% else %}  {% end %}></input></td></tr>
<tr><td>闪光控制模式</td><td><input type="text" name="attr_298" value={% if item %}{{ item.attr_298 }}{% else %}  {% end %}></input></td></tr>
<tr><td>Live View 显示</td><td><input type="text" name="attr_413" value={% if item %}{{ item.attr_413 }}{% else %}  {% end %}></input></td></tr>
<tr><td>最近对焦距离</td><td><input type="text" name="attr_370" value={% if item %}{{ item.attr_370 }}{% else %}  {% end %}></input></td></tr>
<tr><td>曝光补偿</td><td><input type="text" name="attr_295" value={% if item %}{{ item.attr_295 }}{% else %}  {% end %}></input></td></tr>
<tr><td>快门速度</td><td><input type="text" name="attr_292" value={% if item %}{{ item.attr_292 }}{% else %}  {% end %}></input></td></tr>
<tr><td>曝光模式</td><td><input type="text" name="attr_290" value={% if item %}{{ item.attr_290 }}{% else %}  {% end %}></input></td></tr>
<tr><td>尺寸</td><td><input type="text" name="attr_368" value={% if item %}{{ item.attr_368 }}{% else %}  {% end %}></input></td></tr>
<tr><td>短片格式</td><td><input type="text" name="attr_313" value={% if item %}{{ item.attr_313 }}{% else %}  {% end %}></input></td></tr>
<tr><td>静态图像格式</td><td><input type="text" name="attr_312" value={% if item %}{{ item.attr_312 }}{% else %}  {% end %}></input></td></tr>
<tr><td>存储卡</td><td><input type="text" name="attr_310" value={% if item %}{{ item.attr_310 }}{% else %}  {% end %}></input></td></tr>
<tr><td>短片尺寸</td><td><input type="text" name="attr_315" value={% if item %}{{ item.attr_315 }}{% else %}  {% end %}></input></td></tr>
<tr><td>静态图像尺寸</td><td><input type="text" name="attr_314" value={% if item %}{{ item.attr_314 }}{% else %}  {% end %}></input></td></tr>
<tr><td>LCD类型</td><td><input type="text" name="attr_273" value={% if item %}{{ item.attr_273 }}{% else %}  {% end %}></input></td></tr>
<tr><td>LCD尺寸</td><td><input type="text" name="attr_274" value={% if item %}{{ item.attr_274 }}{% else %}  {% end %}></input></td></tr>
<tr><td>LCD像素</td><td><input type="text" name="attr_275" value={% if item %}{{ item.attr_275 }}{% else %}  {% end %}></input></td></tr>
<tr><td>厂家推荐价格</td><td><input type="text" name="attr_277" value={% if item %}{{ item.attr_277 }}{% else %}  {% end %}></input></td></tr>
<tr><td>有效像素</td><td><input type="text" name="attr_278" value={% if item %}{{ item.attr_278 }}{% else %}  {% end %}></input></td></tr>
<tr><td>总像素</td><td><input type="text" name="attr_279" value={% if item %}{{ item.attr_279 }}{% else %}  {% end %}></input></td></tr>
<tr><td>画幅比</td><td><input type="text" name="attr_399" value={% if item %}{{ item.attr_399 }}{% else %}  {% end %}></input></td></tr>
<tr><td>工作湿度</td><td><input type="text" name="attr_398" value={% if item %}{{ item.attr_398 }}{% else %}  {% end %}></input></td></tr>
<tr><td>发布日期</td><td><input type="text" name="attr_7" value={% if item %}{{ item.attr_7 }}{% else %}  {% end %}></input></td></tr>
<tr><td>白平衡</td><td><input type="text" name="attr_309" value={% if item %}{{ item.attr_309 }}{% else %}  {% end %}></input></td></tr>
<tr><td>Live View</td><td><input type="text" name="attr_412" value={% if item %}{{ item.attr_412 }}{% else %}  {% end %}></input></td></tr>
<tr><td>闪光补偿</td><td><input type="text" name="attr_301" value={% if item %}{{ item.attr_301 }}{% else %}  {% end %}></input></td></tr>
<tr><td>专用闪光灯</td><td><input type="text" name="attr_303" value={% if item %}{{ item.attr_303 }}{% else %}  {% end %}></input></td></tr>
<tr><td>连拍</td><td><input type="text" name="attr_305" value={% if item %}{{ item.attr_305 }}{% else %}  {% end %}></input></td></tr>
<tr><td>自拍</td><td><input type="text" name="attr_307" value={% if item %}{{ item.attr_307 }}{% else %}  {% end %}></input></td></tr>
<tr><td>闪光灯类型</td><td><input type="text" name="attr_297" value={% if item %}{{ item.attr_297 }}{% else %}  {% end %}></input></td></tr>
<tr><td>重量</td><td><input type="text" name="attr_31" value={% if item %}{{ item.attr_31 }}{% else %}  {% end %}></input></td></tr>
<tr><td>镜头卡口</td><td><input type="text" name="attr_539" value={% if item %}{{ item.attr_539 }}{% else %}  {% end %}></input></td></tr>
<tr><td>色彩空间</td><td><input type="text" name="attr_511" value={% if item %}{{ item.attr_511 }}{% else %}  {% end %}></input></td></tr>
<tr><td>静态图像质量</td><td><input type="text" name="attr_510" value={% if item %}{{ item.attr_510 }}{% else %}  {% end %}></input></td></tr>
<tr><td>取景器</td><td><input type="text" name="attr_335" value={% if item %}{{ item.attr_335 }}{% else %}  {% end %}></input></td></tr>
<tr><td>影像传感器</td><td><input type="text" name="attr_334" value={% if item %}{{ item.attr_334 }}{% else %}  {% end %}></input></td></tr>
<tr><td>取景放大倍率</td><td><input type="text" name="attr_337" value={% if item %}{{ item.attr_337 }}{% else %}  {% end %}></input></td></tr>
<tr><td>取景范围</td><td><input type="text" name="attr_336" value={% if item %}{{ item.attr_336 }}{% else %}  {% end %}></input></td></tr>
<tr><td>外接电源</td><td><input type="text" name="attr_330" value={% if item %}{{ item.attr_330 }}{% else %}  {% end %}></input></td></tr>
<tr><td>镜头结构</td><td><input type="text" name="attr_333" value={% if item %}{{ item.attr_333 }}{% else %}  {% end %}></input></td></tr>
<tr><td>最大解像度</td><td><input type="text" name="attr_332" value={% if item %}{{ item.attr_332 }}{% else %}  {% end %}></input></td></tr>
<tr><td>影像处理器</td><td><input type="text" name="attr_256" value={% if item %}{{ item.attr_256 }}{% else %}  {% end %}></input></td></tr>
<tr><td>影像传感器尺寸</td><td><input type="text" name="attr_255" value={% if item %}{{ item.attr_255 }}{% else %}  {% end %}></input></td></tr>
<tr><td>对焦系统类型</td><td><input type="text" name="attr_344" value={% if item %}{{ item.attr_344 }}{% else %}  {% end %}></input></td></tr>
<tr><td>对焦点</td><td><input type="text" name="attr_345" value={% if item %}{{ item.attr_345 }}{% else %}  {% end %}></input></td></tr>
<tr><td>镜头卡口</td><td><input type="text" name="attr_540" value={% if item %}{{ item.attr_540 }}{% else %}  {% end %}></input></td></tr>
<tr><td>低通滤镜</td><td><input type="text" name="attr_403" value={% if item %}{{ item.attr_403 }}{% else %}  {% end %}></input></td></tr>
<tr><td>测光系统</td><td><input type="text" name="attr_505" value={% if item %}{{ item.attr_505 }}{% else %}  {% end %}></input></td></tr>
<tr><td>反光镜锁定</td><td><input type="text" name="attr_341" value={% if item %}{{ item.attr_341 }}{% else %}  {% end %}></input></td></tr>
<tr><td>兼容镜头</td><td><input type="text" name="attr_401" value={% if item %}{{ item.attr_401 }}{% else %}  {% end %}></input></td></tr>
<tr><td>防抖</td><td><input type="text" name="attr_754" value={% if item %}{{ item.attr_754 }}{% else %}  {% end %}></input></td></tr>
<tr><td>配件端口</td><td><input type="text" name="attr_548" value={% if item %}{{ item.attr_548 }}{% else %}  {% end %}></input></td></tr>
<tr><td>焦距</td><td><input type="text" name="attr_13" value={% if item %}{{ item.attr_13 }}{% else %}  {% end %}></input></td></tr>
<tr><td>低/超低色散镜片</td><td><input type="text" name="attr_12" value={% if item %}{{ item.attr_12 }}{% else %}  {% end %}></input></td></tr>
<tr><td>最大光圈</td><td><input type="text" name="attr_15" value={% if item %}{{ item.attr_15 }}{% else %}  {% end %}></input></td></tr>
<tr><td>最小光圈</td><td><input type="text" name="attr_16" value={% if item %}{{ item.attr_16 }}{% else %}  {% end %}></input></td></tr>
<tr><td>等效35mm画幅焦距</td><td><input type="text" name="attr_19" value={% if item %}{{ item.attr_19 }}{% else %}  {% end %}></input></td></tr>
<tr><td>工作温度</td><td><input type="text" name="attr_397" value={% if item %}{{ item.attr_397 }}{% else %}  {% end %}></input></td></tr>
<tr><td>电池寿命</td><td><input type="text" name="attr_323" value={% if item %}{{ item.attr_323 }}{% else %}  {% end %}></input></td></tr>
<tr><td>电池</td><td><input type="text" name="attr_321" value={% if item %}{{ item.attr_321 }}{% else %}  {% end %}></input></td></tr>
<tr><td>镜头类型</td><td><input type="text" name="attr_5" value={% if item %}{{ item.attr_5 }}{% else %}  {% end %}></input></td></tr>
<tr><td>颜色</td><td><input type="text" name="attr_328" value={% if item %}{{ item.attr_328 }}{% else %}  {% end %}></input></td></tr>
<tr><td>附件</td><td><input type="text" name="attr_329" value={% if item %}{{ item.attr_329 }}{% else %}  {% end %}></input></td></tr>
<tr><td>支持打印协议</td><td><input type="text" name="attr_489" value={% if item %}{{ item.attr_489 }}{% else %}  {% end %}></input></td></tr>
<tr><td>数据接口</td><td><input type="text" name="attr_488" value={% if item %}{{ item.attr_488 }}{% else %}  {% end %}></input></td></tr>
<tr><td>闪光同步模式</td><td><input type="text" name="attr_483" value={% if item %}{{ item.attr_483 }}{% else %}  {% end %}></input></td></tr>
<tr><td>快门类型</td><td><input type="text" name="attr_355" value={% if item %}{{ item.attr_355 }}{% else %}  {% end %}></input></td></tr>
<tr><td>自动曝光锁</td><td><input type="text" name="attr_353" value={% if item %}{{ item.attr_353 }}{% else %}  {% end %}></input></td></tr>
<tr><td>自动包围曝光</td><td><input type="text" name="attr_352" value={% if item %}{{ item.attr_352 }}{% else %}  {% end %}></input></td></tr>
<tr><td>测光范围</td><td><input type="text" name="attr_351" value={% if item %}{{ item.attr_351 }}{% else %}  {% end %}></input></td></tr>
<tr><td></td><td><input type="submit" value="save"></input></td></tr>
</tbody>
</table>
</form>

{% end %}
