{% extends "base.html" %}

{% block head %}
{% end %}

{% block body %}

<div class="paginator">
<p><a href="/equipment_list/{{prev}}">&lt;前页</a>
{{ cur_page }}
<a href="/equipment_list/{{next}}">后页&gt;</a></p>
</div>

{% for item in res %}
 <p>{{ item.id }}. <a href="/equipment/{{item.id}}">{{item.item_name}}</a></p>
  <p> {% if item.item_image != 'no image' %}<img src="{{ '/static/'+ item.item_image }}" />{% end %} </p>
  <p>  name: {{ item.item_name }} </p>
  <p>  type: {{ item.item_type }} </p>
  <p>  brand: {{ item.item_brand }} </p>
---------------------------
{% end %}

<div class="paginator">
<p><a href="/equipment_list/{{prev}}">&lt;前页</a>
{{ cur_page }}
<a href="/equipment_list/{{next}}">后页&gt;</a></p>
</div>
{% end %}
