{% extends "base.html" %}

{% block head %}
{% end %}

{% block body %}

<div class="paginator">
<p><a href="/equipment_list/{{prev}}">&lt;前页</a>
{{ cur_page }}
<a href="/equipment_list/{{next}}">后页&gt;</a></p>
</div>

{% for item in res %}
 <p>{{ item[0] }}. <a href="/equipment/{{item[0]}}">{{item[1]}}</a></p>
---
  {% for cnt, attr in enumerate(item) %}
  <p> {% if cnt == 4 %} <img src="{{ '/static/'+attr }}" /> {% else %} {{ attr }} {% end %}</p>
  {% end %}
----
{% end %}

<div class="paginator">
<p><a href="/equipment_list/{{prev}}">&lt;前页</a>
{{ cur_page }}
<a href="/equipment_list/{{next}}">后页&gt;</a></p>
</div>
{% end %}
