{% extends "base.html" %}

{% block head %}
  <title>器材</title>
<script type="text/javascript" src="/static/js/jquery.js"></script>
{% end %}

{% block body %}



            <div class="text-content graphic_shape_layout_style_default_External_620_41" style="padding: 0px; ">
              <div class="graphic_shape_layout_style_default">
                <p style="padding-bottom: 0pt; padding-top: 0pt; font-family: 'STHeitiSC-Medium', 'Heiti SC'; font-size: 28px; font-stretch: normal; font-style: normal; font-weight: 700; line-height: 26px;" class="Title">器材</p>
              </div>
            </div>



          <div id="id3" style="height: 249px; left: 734px; position: absolute; top: 158px; width: 268px; z-index: 1; " class="style_SkipStroke_1 shape-with-text">
            <div class="text-content graphic_textbox_layout_style_default_External_268_249" style="padding: 0px; ">
              <div class="graphic_textbox_layout_style_default">
                <p style="padding-top: 0pt; " class="Body"><span style="font-family: 'STHeitiSC-Medium', 'Heiti SC'; font-size: 14px; font-stretch: normal; font-style: normal; font-weight: 700; line-height: 17px; ">名字 : {{ res.item_name }}</span><br /></p>
                <p class="Body"><span style="font-family: 'STHeitiSC-Medium', 'Heiti SC'; font-size: 14px; font-stretch: normal; font-style: normal; font-weight: 700; line-height: 17px; ">类别: {{ res.item_type }}</span><br /></p>
                <p class="Body"><span style="font-family: 'STHeitiSC-Medium', 'Heiti SC'; font-size: 14px; font-stretch: normal; font-style: normal; font-weight: 700; line-height: 17px; ">品牌: {{ res.item_brand }}</span><br /></p>
                <p class="Body"><span style="font-family: 'STHeitiSC-Medium', 'Heiti SC'; font-size: 14px; font-stretch: normal; font-style: normal; font-weight: 700; line-height: 17px; ">属性</span>1<br /></p>
                <p class="Body"><span style="font-family: 'STHeitiSC-Medium', 'Heiti SC'; font-size: 14px; font-stretch: normal; font-style: normal; font-weight: 700; line-height: 17px; ">属性</span>2<br /></p>
                <p class="Body"><span style="font-family: 'STHeitiSC-Medium', 'Heiti SC'; font-size: 14px; font-stretch: normal; font-style: normal; font-weight: 700; line-height: 17px; ">属性</span>3<br /></p>
                <p class="Body"><span style="font-family: 'STHeitiSC-Medium', 'Heiti SC'; font-size: 14px; font-stretch: normal; font-style: normal; font-weight: 700; line-height: 17px; ">属性</span>4<br /></p>
                <p style="padding-bottom: 0pt; " class="Body"><span style="font-family: 'STHeitiSC-Medium', 'Heiti SC'; font-size: 14px; font-stretch: normal; font-style: normal; font-weight: 700; line-height: 17px; ">属性</span>5</p>
              </div>
            </div>
          </div>



          <div style="height: 124px; width: 186px;  height: 124px; left: 518px; position: absolute; top: 155px; width: 186px; z-index: 1; " class="tinyText style_SkipStroke_2 stroke_0 shadow_0">
            <img src="/static/{{ res.item_image }}" alt="" style="border: none; height: 124px; width: 187px; " />
          </div>



          <div id="id4" style="height: 106px; left: 518px; position: absolute; top: 293px; width: 185px; z-index: 1; " class="style_SkipStroke_1 shape-with-text">
            <div class="text-content graphic_textbox_layout_style_default_External_185_106" style="padding: 0px; ">
              <div class="graphic_textbox_layout_style_default">
                <p style="padding-top: 0pt; " class="Body"><span style="font-family: 'STHeitiSC-Medium', 'Heiti SC'; font-size: 14px; font-stretch: normal; font-style: normal; font-weight: 700; line-height: 17px; ">用过</span><br /></p>
                <p class="Body"><span style="font-family: 'STHeitiSC-Medium', 'Heiti SC'; font-size: 14px; font-stretch: normal; font-style: normal; font-weight: 700; line-height: 17px; ">想用</span><br /></p>
                <p class="Body"><span style="font-family: 'STHeitiSC-Medium', 'Heiti SC'; font-size: 14px; font-stretch: normal; font-style: normal; font-weight: 700; line-height: 17px; ">在用</span><br /></p>
                <p style="padding-bottom: 0pt; font-family: 'STHeitiSC-Medium', 'Heiti SC'; font-size: 14px; font-stretch: normal; font-style: normal; font-weight: 700; line-height: 17px;" class="Body">评分</p>
              </div>
            </div>
          </div>

          <div id="edit"><a href="/equipment/edit?itemid={{ res.id }}">修改</a></div>

          <div id="id6" style="height: 100px; left: 513px; position: absolute; top: 500px; width: 173px; z-index: 1; " class="style_SkipStroke_1 shape-with-text">
          <div id="comment">
          评论
          <form action="comment" method="POST">
            <textarea name="content" col=20></textarea>
            <input type="submit" value="提交"></input>
          </form>
          </div>
          </div>

          <div id="id6" style="height: 100px; left: 713px; position: absolute; top: 158px; width: 173px; z-index: 1; " class="style_SkipStroke_1 shape-with-text">
            <div class="text-content graphic_textbox_layout_style_default_External_173_100" style="padding: 0px; ">
              <div class="graphic_textbox_layout_style_default"></div>
            </div>
          </div>



          <div id="id7" style="height: 100px; left: 713px; position: absolute; top: 266px; width: 173px; z-index: 1; " class="style_SkipStroke_1 shape-with-text">
            <div class="text-content graphic_textbox_layout_style_default_External_173_100" style="padding: 0px; ">
              <div class="graphic_textbox_layout_style_default"></div>
            </div>
          </div>
          <div style="height: 500px; line-height: 500px; " class="spacer"> </div>
        </div>

{% end %}
