<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>登录</title>
</head>

<body id="login" onload="">
<p><h2>选择下列方式登陆</h2></p>
    <p><a href="/wblogin"><img
    src="/static/images/sina_login.png"
    style="margin-left: 50px; border-top-width: 11px;"></a></p>
    <p><a href="/rrlogin"><img
    src="/static/images/renren_login.png"
    style="margin-left: 50px; border-top-width: 11px;"></a></p>
    <p><a href="/dblogin"><img
    src="/static/images/douban_login.png"
    style="margin-left: 50px; border-top-width: 11px;"></a></p>
    <p><a href="/fblogin"><img
    src="/static/images/facebook_login.png" style="margin-left: 50px; border-top-width: 11px;"></a></p>
    <p><a href="/templogin">临时打酱油通道</a></p>
</body>
</html>
